* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 0em;
}

.box {
    border: 5px double red; 
    box-shadow: 0 0 0 2px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    width: 250px;
    height: 250px;
}
.box:hover {
    border: 5px dashed white;
    box-shadow: 0 0 0 2px red;
}

#status {
    padding: 20px;
    font-size: 50px;
    text-shadow: black;
    font-weight: 500;
    color: white;
    justify-content: center;
    align-items: center;
}

button{
    border: 5px dashed white; 
    border-radius: circle;
    box-shadow: 0 0 0 2px;
    font-size: larger;
}

img {
    width: 200px;
    height: 200px;
    border: 4px groove blue;  
    box-shadow: 0 0 0 1px;
}

h1 {
    text-shadow: 1px 1px .5px blue;
}

.win {
    animation: winAnimation ease-in-out 1s infinite; 
}

@keyframes winAnimation {
    0% {background-color: lightskyblue}
    100% {background-color: royalblue;}
}
















